<div class="conteiner">
  <div class="row">
    <div class="col-sm-6 col-xs-12 text-center">
      <button class="button btn btn-outline-light" type="button">
        <i class="artist svg"></i>
        <br>Artists
      </button>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <button class="button btn btn-outline-light" type="button">
        <i class="picture svg"></i>
        <br>Pictures
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <!-- <a href="/#/settings" onclick=""> -->
        <button class="btn-settings btn btn-outline-light btn-lg" type="button">
          <i class="settings svg"></i>
          settings
        </button>
      <!-- </a> -->
    </div>
  </div>
</div>