<div class="container">
  <div class="row">
    <div class="col-12 text-center my-col">
      <h2 style="margin: 10px 0">categories</h2>
      <button class="btn-home btn btn-outline-light btn-lg" type="button">
        <i class="home"></i>
        home
      </button>
    </div>
  </div>
  <div class="row my-row">
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >realism<br />
        <img class="img" src="../assets/img/realism2.jpg" alt="picture" />
        <button class="btn-score btn">
          score
        </button>
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >impressionism <br />
        <img class="img" src="../assets/img/impressionism2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >religion <br />
        <img class="img" src="../assets/img/religion2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >portrait <br />
        <img class="img" src="../assets/img/portrait2.jpg" alt="picture" />
      </a>
    </div>
  </div>
  <div class="row my-row">
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >renaissance<br />
        <img class="img" src="../assets/img/renaissance2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >painting <br />
        <img class="img" src="../assets/img/painting2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >landscape <br />
        <img class="img" src="../assets/img/landscape2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >marine <br />
        <img class="img" src="../assets/img/marine2.jpg" alt="picture" />
      </a>
    </div>
  </div>
  <div class="row my-row">
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >avant-garde<br />
        <img class="img" src="../assets/img/avant2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >surrealism<br />
        <img class="img" src="../assets/img/surrealism2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >romanticism<br />
        <img class="img" src="../assets/img/romantism2.jpg" alt="picture" />
      </a>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-12 text-center my-col">
      <a class="link" href="#"
        >expressionism<br />
        <img class="img" src="../assets/img/expressionism2.jpg" alt="picture" />
      </a>
    </div>
  </div>
</div>
