<div class="row my-row">
  <div class="col-6 text-center">
    <button class="btn-home btn btn-outline-light btn-lg" type="button">
      home
    </button>
  </div>
  <div class="col-6 text-center">
    <button class="btn-categories btn-home btn btn-outline-light btn-lg" type="button">
      categories
    </button>
  </div>
</div>
<div class="row my-row">
  <div class="col-12 text-center">
    <p>who painted this picture?</p>
  </div>
</div>
<div class="row my-row">
  <div class="col-12 text-center my-col">
    <img class="painting" src="../assets/img/impressionism.jpg"></img>
  </div>
</div>
<div class="row my-row">
  <div class="col-sm-6 col-xs-12 text-end">
    <button class="btn-answer btn btn-outline-light btn-lg" type="button">
      Вариант 1
    </button>
  </div>
  <div class="col-sm-6 col-xs-12 text-start">
    <button class="btn-answer btn btn-outline-light btn-lg" type="button">
      Вариант 2
    </button>
  </div>
</div>
<div class="row my-row">
  <div class="col-sm-6 col-xs-12 text-end">
    <button class="btn-answer btn btn-outline-light btn-lg" type="button">
      Вариант 3
    </button>
  </div>
  <div class="col-sm-6 col-xs-12 text-start">
    <button class="btn-answer btn btn-outline-light btn-lg" type="button">
      Вариант 4
    </button>
  </div>
</div>