<div class="container">
  <div class="row my-row">
    <div class="col-12 text-center my-col">
      <h2>settings</h2>
    </div>
  <div class="row my-row">
    <div class="col-sm-6 col-xs-12 my-col">
      <div class="cards">
        <div class="sound icon"></div>
        <input class="progress" type="range" name="progress" value="50" min="0" max="100" step="1">
        <input class="checkbox" type="checkbox">
        <h3>volume</h3>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 my-col">
      <div class="cards">
        <div class="hourglass icon"></div>
        <input class="progress" type="range" name="progress" value="50" min="0" max="100" step="1">
        <input class="checkbox" type="checkbox">
        <h3>time</h3>
      </div>
    </div>
  </div>
  <div class="row my-row">
    <div class="col-12 text-center my-col">
      <button class="btn-save btn btn-outline-light btn-lg" type="button">
        <i class="save"></i>
        save
      </button>
    </div>
  </div>
</div>