.link {
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-text;
  border: solid 2px $color-text;
  border-radius: 2rem;

  &:hover {
    color: $color-hover;
    font-weight: bold;
    transition: 0.5s;

    .btn-score {
      opacity: 1;
      transition: 0.8s;
    }
  }

  .btn-score {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    border-radius: 0 0 1.8rem 1.8rem;
    background-color: $color-text;
    color: $color-black;
    text-transform: uppercase;
    opacity: 0;
  }
}

.img {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 0 0 2rem 2rem;
  filter: blur(2px);

  &:hover {
    filter: blur(0);
    transition: 0.8s;
  }
}

.btn-home {
  background-color: $color-text;
  color: $color-black;
  min-width: 100px;
  margin: 20px 0;
  font-size: 75%;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2rem;
  border: 1px solid $color-text;
  transition: 0.8s;

  &:hover {
    min-width: 40%;
    letter-spacing: 5px;
    background-color: $color-done;
    transition: 0.8s;
  }

  &:active {
    background-color: $color-active;
  }
}