footer {
  height: 80px;

  div {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.decorate-link {
  text-decoration: none;
  color: $color-text;

  &:hover {
    color: $color-hover;
    font-weight: bold;
    transition: 0.5s;
  }
}

